{% extends 'base.html.twig' %}

{% block title %}Tipos de trámites{% endblock %}

{% block body %}

	{{parent()}}

	<div class="sectionTitle">
		<h2>Tipo de trámite</h2>
	</div>

	{{form(formulario)}}

	<div class="btnCancelar">
        <a href="/tipotramite" class="btn btn-danger mb-4" id="cancelar">Cancelar</a>
    </div>

{% endblock %}