{% extends 'base.html.twig' %}

{% block title %}Hello TipoTramiteController!{% endblock %}

{% block body %}

	{{parent()}}

	<div class="sectionTitle">
		<h2>EDITAR INFORMACIÓN DE TIPO DE TRÁMITE</h2>
	</div>

	{{form(formulario)}}

	<div class="btnCancelar">
        <a href="/tipotramite" class="btn btn-danger mb-4" id="cancelar">Cancelar</a>
    </div>

		
		<!-- POPUP MADE IN NOSOTROS -->
	<!-- Para funcionar tienen que agregar la clase 'is-open' al elemento con clase 'popup' -->

	<div class="our-popup" id="popup-carga-exitosa">
		<div class="container">
			<header>
				<span></span>
				<a href="#" data-close>
					<i class="icon">X</i> <!-- Porfavor poner iconito luego... -->
				</a> 
			</header>
			<div class="our-popup-body">
				<div>
					<i class="icon green">&check;</i>
					<span> Tipo de tramite editado exitosamente</span>
				</div>	
			</div>
			<footer>
				<ul>
					<li>
						<a href="/tipotramite" class="button">
							<span>Volver al listado</span>
						</a>
					</li>
						<li>
						<a href="#" class="button" data-close>
							<span>Seguir cargando</span>
						</a>
					</li>
				</ul>
			</footer>
		</div>
	</div>

	<!---------------------------->

	<script>
		document.querySelectorAll('.our-popup')
						.forEach(function(popup) {
							popup.querySelectorAll('[data-close]')
									 .forEach(function(closeBtn) {
										 closeBtn.addEventListener('click', function(btn) {
											 popup.classList.remove('is-open');
										 });
									 })
						})

		if(location.search.includes('success=1')) {
			setTimeout(function(){
				document.querySelector('#popup-carga-exitosa')
							.classList.add('is-open');
			}, 500)
		}

	</script>


{% endblock %}