{% extends 'base.html.twig' %}

{% block title %}Tipo de Tramites{% endblock %}

{% block body %}
    
    {% for tipo in tipotramites %}
        <p>{{ tipo.nombre }} {{ tipo.descripcion }}</p>
    {% endfor %}

{% endblock %}