{% extends 'base.html.twig' %}

{% block title %}Hello TramiteController!{% endblock %}

{% block body %}
	{{parent()}}

	<div class="sectionTitle">
		<h2>Trámite</h2>
	</div>
	
	{{form(formulario)}}

{% endblock %}
