{% extends 'base.html.twig' %}

{% block title %}Tramites{% endblock %}

{% block body %}
    
    {% for tramit in tramite %}
        <p>{{ tramit.fechaInicio }} {{ tramit.tipoTramite }}</p>
    {% endfor %}

{% endblock %}