{% extends 'base.html.twig' %}

{% block title %}Tramites{% endblock %}

{% block body %}
    
    {% for tramite in tramite %}
        <p>{{ tramite.fechaInicio }} {{ tramite.tipoTramite }}</p>
    {% endfor %}

{% endblock %}