.btnAgregar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#agregar {
    border: 1px solid #00A65A;
    background-color: #00A65A;
    color: #ffffff;
    padding: 10px;
    margin-left: 20px;
}

#agregar:hover {
    border: 1px solid #33BB66;
    background-color: #33BB66;
    color: #ffffff;
}

.btnCancelar {
    display: flex;
    text-align: center;
    justify-content: center
}

#cancelar {
    width: 50%;
    height: 45px;
    border-radius: 0;
    padding: 10px;
}
