#padron div {
    flex-direction: column;
}

.sectionTitle {
    text-align: center;
    background-color: #00A65A;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px
}

.sectionTitle h2 {
    border-bottom: 1px solid white;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

#padron_Registrar {
    background-color: #33BB66;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    color: #ffffff;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#padron_cudvigencia {
    display: -webkit-box !important;
    width: 47%;
}

#padron_obrasocial {
    display: -webkit-box !important;
    width: 100%;
}

#padron_discapacidad {
    display: -webkit-box !important;
    width: 100%;
}

#padron_id {
    display: -webkit-box !important;
    width: 100%;
}

#padron {
    text-align: left;
}