form label {
    display: block;
    margin: auto;
    font-weight: 600;
}

form > div {
    width: 50%;
    margin: auto;
}

/* form > div > div > div {
    display: flex;
}

form > div > div > select {
    width: 100%;
}

form input {
    width: 100%;
} */

form button{
    background-color: #33BB66;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: none;
    color: #ffffff;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}

.table>:not(caption)>*>* {
    padding: 5px 5px 5px 5px;
}

#persona_Guardar {
    border-radius: 5px;
}

#persona_Guardar:hover {
    transition: all 0.5s ease;
    background-color: #00A65A;
}

.divNombre {
    display: flex;
    gap: 45px;
    margin-bottom: 5px;
}

.divNombre div {
    gap: 10px;
}

.divNacimiento {
    display: flex;
    margin-bottom: 5px;
    gap: 33px
}

.divNacimiento div {
    gap: 10px;
}

#persona_fechanacimiento {
    display: flex;
}

.divNacimiento select {
    width: auto;
}

.divNacionalidad {
    display: flex;
    gap: 15px;
    margin-bottom: 5px;
}

.divNacionalidad div {
    gap: 10px;
}

.divSexo {
    display: flex;
    gap: 45px;
    margin-bottom: 5px;
}

.divSexo div {
    gap: 10px;
}

.divDocumento {
    display: flex;
    gap: 15px;
    margin-bottom: 5px;
}

.divDocumento div {
    gap: 10px;
}

.divCalle {
    display: flex;
    gap: 45px;
    margin-bottom: 5px;
}

.divCalle div {
    gap: 10px;
}

.divDepto {
    display: flex;
    gap: 45px;
    margin-bottom: 5px;
}

.divDepto div {
    gap: 10px;
}

.divBarrio {
    display: flex;
}

.divUsuario {
    display: flex;
}