#tramite_fechainicio {
    display: flex;
}

.divTipoEstadoTramite {
    display: flex;
    gap: 45px;
}

#modif_tramite_fechaseguimiento {
    display: flex;
}

@media screen and (max-width: 768px) {
    .divTipoEstadoTramite {
        display: block;
    }

    #tramite_fechainicio {
        display: block;
    }
}