* {
    font-family: 'Montserrat';
}

label {
    display: inline-block;
    margin-left: 25%;
    text-align: left;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: lightgray;
    border: none;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
}

select {
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: lightgray;
    border: none;
    width: 70.1%;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
}

/*** INICIO NAVBAR ***/

* {
    margin: 0;
    padding: 0;
}

i {
    margin-right: 10px;
}

.navbar-logo {
    padding: 15px;
    color: #fff;
}

.navbar-mainbg {
    background-color: #33BB66;
    padding: 0;
}

#navbarSupportedContent {
    overflow: hidden;
    position: relative;
}

#navbarSupportedContent ul {
    padding: 0;
    margin: 0;
    gap: 25px;
}

#navbarSupportedContent ul li a i {
    margin-right: 10px;
}

#navbarSupportedContent li {
    list-style-type: none;
    float: left;
    border: 1px solid #33BB66;
}

#navbarSupportedContent ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    display: block;
    /* transition-duration: 0.3s; */
    position: relative;
    font-weight: 600;
    padding: 10px 10px 10px 2px;
}

#navbarSupportedContent>ul>li.active>a {
    color: #ffffff;
    background-color: transparent;
    /* transition: all 0.3s; */
}

#navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    /* transition: 0.3s; */
}

#navbarSupportedContent ul li a:hover {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #33BB66;
}

#dropdownMenuButton {
    background-color: #33BB66;
    border: none;
    font-weight: 600;
    margin-top: 4px;
}

#dropdownMenuButton:hover {
    background-color: #ffffff;
    color: #33BB66;
    border-radius: 0%;
}

@media (max-width:991px) {
    #navbarSupportedContent ul li a {
        padding: 12px 30px;
    }
}

/*** FIN NAVBAR ***/
