{% extends 'base.html.twig' %}

{% block title %}Discapacidades{% endblock %}

{% block body %}

	{{parent()}}

	<div class="sectionTitle">
		<h2>Formulario discapacidad</h2>
	</div>

	{{form(formulario)}}

{% endblock %}
