{% extends 'base.html.twig' %}

{% block title %}Discapacidades{% endblock %}

{% block body %}

    {{parent()}}

  <div class="sectionTitle">
		<h2>Discapacidades</h2>
	</div>

   {% for disca in discapacidad %}
        <p>{{ disca.nombre }} {{ disca.descripcion }}</p>
    {% endfor %}

{% endblock %}