{% extends 'base.html.twig' %}

{% block title %}Persona{% endblock %}

{% block body %}

    {{parent()}}

	<div class="sectionTitle">
		<h2>Agregar persona</h2>
	</div>

	{{ form(formulario)}}

    <div class="btnCancelar">
        <a href="/personas" class="btn btn-danger mb-4" id="cancelar">Cancelar</a>
    </div>

    <script>
        let selectMes = document.querySelectorAll('select')[0];
        selectMes[0].text = 'Enero';
        selectMes[1].text = 'Febrero';
        selectMes[2].text = 'Marzo';
        selectMes[3].text = 'Abril';
        selectMes[4].text = 'Mayo';
        selectMes[5].text = 'Junio';
        selectMes[6].text = 'Julio';
        selectMes[7].text = 'Agosto';
        selectMes[8].text = 'Septiembre';
        selectMes[9].text = 'Octubre';
        selectMes[10].text = 'Noviembre';
        selectMes[11].text = 'Diciembre';

        document.querySelectorAll('label + select')
                .forEach(function(elm) {
                    elm.value = "";
                });
                
    </script>

{% endblock %}
