{% extends 'base.html.twig' %}

{% block title %}Persona{% endblock %}

{% block body %}

    {{parent()}}

    <div class="sectionTitle">
		<h2>Editar datos de persona</h2>
	</div>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(formulario)}}

    <div class="btnCancelar">
        <a href="/personas" class="btn btn-danger mb-4" id="cancelar">Cancelar</a>
    </div>

{% endblock %}
