{% extends "base.html.twig" %}

{% block title %}Padrón{% endblock %}

{% block body %}

	{{parent()}}

	<div class="sectionTitle">
		<h2>Agregar datos de discapacidad</h2>
	</div>

	{{form(formulario)}}

    <div class="btnCancelar">
        <a href="/padron" class="btn btn-danger mb-4" id="cancelar">Cancelar</a>
    </div>

	<script>

        let selectMes = document.querySelectorAll('select')[0];
        selectMes[0].text = 'Enero';
        selectMes[1].text = 'Febrero';
        selectMes[2].text = 'Marzo';
        selectMes[3].text = 'Abril';
        selectMes[4].text = 'Mayo';
        selectMes[5].text = 'Junio';
        selectMes[6].text = 'Julio';
        selectMes[7].text = 'Agosto';
        selectMes[8].text = 'Septiembre';
        selectMes[9].text = 'Octubre';
        selectMes[10].text = 'Noviembre';
        selectMes[11].text = 'Diciembre';

        let selectObraSocial = document.querySelectorAll('select')[3];
        selectObraSocial.value = '';

        let selectDiscapacidad = document.querySelectorAll('select')[4];
        selectDiscapacidad.value = '';

        let selectID = document.querySelectorAll('select')[5];
        selectID.value = '';

    	let cuil = document.querySelectorAll('label')[0];
        cuil.innerHTML = 'CUIL';

        let cud = document.querySelectorAll('label')[1];
        cud.innerHTML = 'CUD';

		let cudVigencia = document.querySelectorAll('label')[2];
        cudVigencia.innerHTML = 'CUD Vigencia';

        let cudDiagnostico = document.querySelectorAll('label')[3];
        cudDiagnostico.innerHTML = 'CUD Diagnóstico';

        let pension = document.querySelectorAll('label')[5];
        pension.innerHTML = 'Pensión';
        
        let nivelInstruccion = document.querySelectorAll('label')[6];
        nivelInstruccion.innerHTML = 'Nivel Instrucción';

        let tipoModalidad = document.querySelectorAll('label')[7];
        tipoModalidad.innerHTML = 'Tipo Modalidad';

        let experienciaLaboral = document.querySelectorAll('label')[8];
        experienciaLaboral.innerHTML = 'Experiencia Laboral';

        let nivelEducacion = document.querySelectorAll('label')[10];
        nivelEducacion.innerHTML = 'Nivel Educación';

        let obraSocial = document.querySelectorAll('label')[12];
        obraSocial.innerHTML = 'Obra Social';
        
	</script>

	{% endblock %}
