{% extends "base.html.twig" %}

{% block title %}Padrón{% endblock %}

{% block body %}

	{{parent()}}

	<div class="sectionTitle">
		<h2>Agregar datos de discapacidad</h2>
	</div>

	{{form(formulario)}}

    <div class="btnCancelar">
        <a href="/padron" class="btn btn-danger mb-4" id="cancelar">Cancelar</a>
    </div>

	<script>

        let selectMes = document.querySelectorAll('select')[0];
        selectMes[0].text = 'Enero';
        selectMes[1].text = 'Febrero';
        selectMes[2].text = 'Marzo';
        selectMes[3].text = 'Abril';
        selectMes[4].text = 'Mayo';
        selectMes[5].text = 'Junio';
        selectMes[6].text = 'Julio';
        selectMes[7].text = 'Agosto';
        selectMes[8].text = 'Septiembre';
        selectMes[9].text = 'Octubre';
        selectMes[10].text = 'Noviembre';
        selectMes[11].text = 'Diciembre';

        let selectObraSocial = document.querySelectorAll('select')[3];
        selectObraSocial.value = '';

        let selectDiscapacidad = document.querySelectorAll('select')[4];
        selectDiscapacidad.value = '';

        let selectID = document.querySelectorAll('select')[5];
        selectID.value = '';

    	let cuil = document.querySelectorAll('label')[0];
        cuil.innerHTML = 'CUIL';

        let cud = document.querySelectorAll('label')[1];
        cud.innerHTML = 'CUD';

		let cudVigencia = document.querySelectorAll('label')[2];
        cudVigencia.innerHTML = 'CUD Vigencia';

        let cudDiagnostico = document.querySelectorAll('label')[3];
        cudDiagnostico.innerHTML = 'CUD Diagnóstico';

        let pension = document.querySelectorAll('label')[5];
        pension.innerHTML = 'Pensión';
        
        let nivelInstruccion = document.querySelectorAll('label')[6];
        nivelInstruccion.innerHTML = 'Nivel Instrucción';

        let tipoModalidad = document.querySelectorAll('label')[7];
        tipoModalidad.innerHTML = 'Tipo Modalidad';

        let experienciaLaboral = document.querySelectorAll('label')[8];
        experienciaLaboral.innerHTML = 'Experiencia Laboral';

        let nivelEducacion = document.querySelectorAll('label')[10];
        nivelEducacion.innerHTML = 'Nivel Educación';

        let obraSocial = document.querySelectorAll('label')[12];
        obraSocial.innerHTML = 'Obra Social';



        const divPadron = document.querySelectorAll('div')[4];

        

        {# CUIL #}
        let cuil2 = divPadron.children[0];

        {# CUD, CUD Vigencia, CUD Diagnóstico #}
        let cud2 = divPadron.children[1];
        let cudVigencia2 = divPadron.children[2];
        let cudDiagnostico2 = divPadron.children[3];

        {# Discapacidad y Causa #}
        let discapacidad2 = divPadron.children[13];
        let causa2 = divPadron.children[4];

        {# Residencia y Pensión #}
        let residencia2 = divPadron.children[11];
        let pension2 = divPadron.children[5];

        {# Nivel educación, Tipo modalidad, Nivel instrucción #}
        let nivelEducacion2 = divPadron.children[10];
        let tipoModalidad2 = divPadron.children[7];
        let nivelInstruccion2 = divPadron.children[6];

        {# Experiencia laboral #}
        let experienciaLaboral2 = divPadron.children[8];

        {# Obra social #}
        let obraSocial2 = divPadron.children[12];

        {# Actividades #}
        let actividades2 = divPadron.children[9];

        {# ID #}
        let id2 = divPadron.children[14];

        const btnRegistrar = document.querySelectorAll('button')[1];


        {# divs contenedores #}
        let divCUIL = document.createElement('div');
        let divCUD = document.createElement('div');
        let divDiscapacidad = document.createElement('div');
        let divResidencia = document.createElement('div');
        let divEducacion = document.createElement('div');
        let divExperienciaLaboral = document.createElement('div');
        let divObraSocial = document.createElement('div');
        let divActividades = document.createElement('div');
        let divID = document.createElement('div');


        {# appends #}
        divPadron.appendChild(divCUIL);
        divPadron.appendChild(divCUD);
        divPadron.appendChild(divDiscapacidad)
        divPadron.appendChild(divResidencia);
        divPadron.appendChild(divEducacion);
        divPadron.appendChild(divExperienciaLaboral);
        divPadron.appendChild(divObraSocial);
        divPadron.appendChild(divActividades);
        divPadron.appendChild(divID);



        {# CUIL #}
        divCUIL.appendChild(cuil2);

        {# CUD #}
        divCUD.appendChild(cud2);
        divCUD.appendChild(cudVigencia2);
        divCUD.appendChild(cudDiagnostico2);

        {# Discapacidad y Causa #}
        divDiscapacidad.appendChild(discapacidad2);
        divDiscapacidad.appendChild(causa2);

        {# Residencia y Pensión #}
        divResidencia.appendChild(residencia2);
        divResidencia.appendChild(pension2);

        {# Nivel educación, Tipo modalidad, Nivel instrucción #}
        divEducacion.appendChild(nivelEducacion2);
        divEducacion.appendChild(tipoModalidad2);
        divEducacion.appendChild(nivelInstruccion2);

        {# Experiencia laboral #}
        divExperienciaLaboral.appendChild(experienciaLaboral2);

        {# Obra social #}
        divObraSocial.appendChild(obraSocial2);

        {# Actividades #}
        divActividades.appendChild(actividades2);

        {# ID #}
        divID.appendChild(id2);

        {# Botón Registrar #}
        divPadron.appendChild(btnRegistrar);
        


        divCUIL.classList.add('divCUIL');
        divCUD.classList.add('divCUD');
        divDiscapacidad.classList.add('divDiscapacidad');
        divResidencia.classList.add('divResidencia');
        divEducacion.classList.add('divEducacion');
        divExperienciaLaboral.classList.add('divExperienciaLaboral');
        divObraSocial.classList.add('divObraSocial');
        divActividades.classList.add('divActividades');
        divID.classList.add('divID');
        
	</script>

	{% endblock %}