{% extends 'base.html.twig' %}

{% block title %}Persona con discapacidad{% endblock %}

{% block body %}

    <h1>{{ controller_name }}</h1>

    {% for discapacitado in discapacitados %}
        <p>{{ discapacitado.cuil }} {{ discapacitado.cud }}</p>
    {% endfor %}

{% endblock %}