{% extends 'base.html.twig' %}

{% block title %}Padron{% endblock %}

{% block body %}

    <h1>{{ controller_name }}</h1>

    <p>{{ discapacitado.cuil }} {{ discapacitado.cud }}</p>

{% endblock %}