{% extends 'base.html.twig' %}

{% block title %}Obra social{% endblock %}

{% block body %}

    {{parent()}}

    <div class="sectionTitle">
	    <h2>Obra social</h2>
	</div>

    {{form(formulario)}}

    <script>
        let denominacion = document.querySelectorAll('label')[0];
        denominacion.innerHTML = 'Denominación';

        let observacion = document.querySelectorAll('label')[3];
        observacion.innerHTML = "Observación"

        let telefonoNumero = document.querySelectorAll('label')[4];
        telefonoNumero.innerHTML = "Número de teléfono"
    </script>

{% endblock %}
