{% extends 'base.html.twig' %}

{% block title %}Hello ObraSocialController!{% endblock %}

{% block body %}

    {{parent()}}

    <div class="sectionTitle">
	    <h2>Obra social</h2>
	</div>

    {{form(formulario)}}

{% endblock %}
