{% extends 'base.html.twig' %}

{% block title %}Obras Sociales{% endblock %}

{% block body %}

    {{parent()}}

  <div class="sectionTitle">
		<h2>Obras sociales</h2>
	</div>

   {% for obra in obrasocial %}
        <p>{{ obra.nombre }} {{ obra.denominacion }}</p>
    {% endfor %}

{% endblock %}