{% extends 'base.html.twig' %}

{% block title %}Agregar tipo de discapacidad{% endblock %}

{% block body %}

{{parent()}}

	<div class="sectionTitle">
		<h2>TIPO DE DISCAPACIDAD</h2>
	</div>

	{{form(formulario)}}

	<div class="btnCancelar">
        <a href="/tipodiscapacidad" class="btn btn-danger mb-4" id="cancelar">Cancelar</a>
    </div>
	
{% endblock %}
