{% extends 'base.html.twig' %}

{% block title %}Tipos de discapacidades{% endblock %}

{% block body %}

{{parent()}}

{% for message in app.flashes('exito') %}

<div class="alert alert-success">
{{message}}
</div>
{% endfor %}

	<div class="sectionTitle">
		<h2>Formulario tipo de discapacidad</h2>
	</div>

	{{form(formulario)}}

	<script>

		let descripcion = document.querySelectorAll('label')[1];
		descripcion.innerHTML = 'Descripción';
		
	</script>

{% endblock %}
