{% extends 'base.html.twig' %}

{% block title %}Tipo de discapacidades{% endblock %}

{% block body %}

    {{parent()}}

    {% for tipo in tipodiscapacidad %}
        <p>{{ tipo.nombre }} {{ tipo.descripcion }}</p>
    {% endfor %}

{% endblock %}