{% extends 'base.html.twig' %}

{% block title %}Hello TipoDiscapacidadController!{% endblock %}

{% block body %}

{% for message in app.flashes('exito') %}

<div class="alert alert-success">
{{message}}
</div>
{% endfor %}

	<div class="sectionTitle">
		<h2>Formulario tipo de discapacidad</h2>
	</div>

{{form(formulario)}}

{% endblock %}

