{% extends 'base.html.twig' %}

{% block title %}Tipo de discapacidades{% endblock %}

{% block body %}

    {{parent()}}

  <div class="sectionTitle">
		<h2>Tipo de discapacidades</h2>
	</div>

   {% for tipo in tipodiscapacidad %}
        <p>{{ tipo.nombre }} {{ tipo.descripcion }}</p>
    {% endfor %}

{% endblock %}